# These accounts will have their secrets stored in the keychain
- - b@gmail
  -
- - bobby@gmail
  -
# These accounts have their secrets stored unencrypted. Not recommended.
- - bob@aws
  - WI27ZBHPOF4IAZRPOCZKAPDNRZHPCB6ECWSMWJQGCWRVOGVUVC3WBMJI5NFFMG2B
- - other service
  - s4e4632x6n2d7a5h
